.banner-bg {
  width: 100%;
  background: url("../../assets/recepcao2.jpg") no-repeat center center;
  background-size: cover;
}

.banner {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .banner {
    height: 275px;
  }
}
