.footer-bg {
  background-color: var(--cor-4);
}

.footer {
  display: grid;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-items: center;
  gap: 15px;
  text-align: center;
}

@media (max-width: 500px) {
  .footer p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
