.header-bg {
  background: var(--cor-3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  color: var(--cor-0);
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header-menu {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .header-menu a {
    font-size: 1rem;
  }
}
